/*selector {
    Propiedad: valor
    Propiedad: valor
}
*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400;1,700&display=swap');

h2{/* selector global se aplica a todos los h2 */
    color: rgb(220, 27, 20);
    font-size: 45px;
    background-color: aquamarine;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.soloyo{
    text-align: right;
}

h1{
    border-top: solid 5px black;
    border-right: dashed 8px violet;
    border-bottom: solid 10px grey;
    padding-top: 35px;
    padding-left: 35px;
    font-family: 'Titillium Web', sans-serif;

    margin-bottom: 50px;

}
#main{
    color: yellow;
}

.centrar{
    text-align: center;
}

ul li{
    color: black;
    
    font-style: oblique;
    list-style-type: none;
    display: inline-block;
    margin: 15px;
    text-align: center;
    padding: 25px;
    border: solid 1px black ;
    background-color: rgb(123, 255, 0);
    font-family: 'Titillium Web', sans-serif;

}/* ul: contenedor padre li: hijo */

a{
    text-decoration: none;
}